@import '../../style/common/mixin.less';
uni-page-body{
	height: 100%
}
.pages{
	height: calc(100% - 300upx);
	background: white;
	padding: 300upx 65upx 0;
	position: relative;
	.icon-jiantou3{
		position: absolute;
		left: 65upx;
		padding-top: 10upx
	}
	.otherLogin{
		position: absolute;
		padding-top: 10upx;
		right: 65upx
	}
	.loginTitle{
		margin-bottom: 154upx;
	}
	.inp{
		border-bottom: 1px solid #bcbcbc;
		padding: 35upx 0;
	}
	.btn{
		margin: 86upx 0 30upx;
		width: 100%;
		.h(88upx, 88upx, center);
		color: white;
		background: #5E57EB;
		opacity: 0.68;
		border-radius: 6upx
	}
	.opacity{
		opacity: 1
	}
}