@import '../common/mixin.less';
.companyDetail{
	.top{
		background: @g_color;
		color: white;
		padding: 45upx 32upx;
		margin-bottom: @g_margin;
		.avatar{
			height: 88upx;
			width: 88upx;
			border-radius: 4upx;
			margin-right: 30upx;
		}
		.name{
			font-size: 30upx;
		}
		.nature{
			font-size: 24upx
		}
	}
	.content{
		margin: 0 8upx 10upx;
		background: white;
		border-radius: 12upx;
		padding: 0 24upx;
		.tabs{
			background: white;
			height: 94upx;
			color:#333;
			position: relative;
			margin-bottom: @g_bottom;
			font-weight: 400;
			font-size: 30upx;
			.sliderBorder{
				position: absolute;
				top: 0;
				width: 15px;
				background: @g_color;
				height: 5upx;
				left:0;
				z-index: 10
			}
			.tab{
				width: 50%;
				height: 100%;
				line-height: 94upx;
				text-align: center
			}
			.active{
				font-size: 36upx;
				color: @g_color;
				font-weight: 500
			}
		}
		.title{
			font-size: 26upx;
			height: 68upx;
			line-height: 68upx;
		}
		.addressDetail{
			font-size: 24upx;
			line-height: 60upx;
			height: 60upx
		}
		.introduce{
			font-size: 24upx;
			border-bottom: @g_border;
			padding-bottom: 27upx;
		}
		.welfares{
			font-size: 24upx;
			display: flex;
			flex-wrap: wrap;
			padding: 0 4%;
			.welfare{
				width: 20%;
				border: @g_border;
				height: 44upx;
				line-height: 44upx;
				text-align: center;
				border-radius: 6upx;
				margin-right: 5%;
				margin-bottom: 24upx;
				color: #666
			}
			.welfare:nth-of-type(4n){
				margin-right: 0
			}
		}
		.icon-youjiantou{
			float: right
		}
		.map{
			margin: 22upx 0;

			img.csssprite{
				display: none !important;
			}
		}
		.postList{
			margin-bottom: @g_bottom;
			background: white;
			padding-bottom: 25upx;
			border-bottom: @g_border;
			.postTitle{
				font-size: 34upx;
				font-weight: 500;
			}
			.salary{
				color: @g_color;
				font-size: 30upx;
			}
			.tags{
				// margin-bottom: 16upx;
				.tag{
					padding: 6upx 10upx;
					background: #f6f6f6;
					color: #adadad;
					margin-right: 24upx;
					font-size: 20upx;
				}
			}
			.txt{
				margin: 20upx 0 10upx;
				.company{
					font-size: 22upx;
					color: #666;
				}
				.date{
					font-size: 20upx;
					color:#999;
				}
			}
			.address{
				font-size: 20upx;
				margin-top: 15upx;
			}
			.newsTip{
				border-top: @g_border;
				padding-top: 14upx;
				.icon-youjiantou{
					color: #adadad;
				}
			}
			.newstype{
				color: #EB8457
			}
			.time{
				font-size: 20upx;
			}
		}
		.nothing{
			image{
				height: 320upx;
				width: 370upx;
				margin-bottom: 72upx;
			}
		}
		
	}
}
