.personal-company{
	font-size: 28upx;
	.search{
		height: 20upx;
		width: 20upx;
		position: absolute;
		top: 17px;
		right: 20upx
	}
	.companyLists{
		.companyList{
			.companyTxt{			
				.companyAvatar{
					height: 100upx;
					width: 100upx;
				}
			}
		}
	}
}