// 公共样式
.ff{
	color:whtie
}
.column{
	display: flex;
	flex-direction: column
}
.just_btw{
	justify-content: space-between
}
.just_arw{
	justify-content: space-around
}
.ali_center{
	align-items: center
}
.just_center{
	justify-content: center
}
.center{
	align-items: center;
	justify-content: center
}
.row{
	display: flex;
	flex-direction: row
}
.globelColor{
	color: #5E57EB
}


// 字体

.f_72{
	font-size: 72upx
}
.f_48{
	font-size: 48upx;
}
.f_46{
	font-size: 46upx
}
.f_36{
	font-size: 36upx
}
.f_34{
	font-size: 34upx
}
.f_32{
	font-size: 32upx;
}
.f_30{
	font-size: 30upx;
}
.f_26{
	font-size: 26upx
}
.f_24{
	font-size: 24upx;
}
.f_22{
	font-size: 22upx
}
.f_20{
	font-size: 20upx;
}
//颜色
.c_666{
	color:#666
}
.c_d6{
	color: #d6d6d6
}
.c_ad{
	color: #adadad
}
.c_999{
	color:#999
}
.icon-weixin{
	color: seagreen
}
.icon-qq{
	color: #1296db
}

.placeholder{
	color: #e1e1e1;
	font-size: 30upx
}
.loadmore{
	text-align: center;
	margin: 10upx 0
}